body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("table1.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;

}

.center {
    margin: 12%;
}

h1 {
    color: goldenrod;
}

.brand {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px 0;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 2px 0;
}